<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Grader</title>
</head>
<body>
    <h1>Code Grader</h1>
    
    <form action = "/grader" method = "POST">
        <input type = "text" rows = "5" cols = "60" name = "fName">Function Name Here</input>
        <br>
        <textarea rows = "5" cols = "60" name = "prompt">Paste Code Here</textarea>
        <textarea rows = "5" cols = "60" name = "userSteps">Explain what the code is doing in your own words(numbered list is preferred)</textarea>
        <br>
        <input type = "submit"> </input>
    </form>
</body>
</html>